# ignore any files
*

# unignore dirs
!*/

# unignore any other files
!*.*

# ignore output files
*.o

# ignore orig files
*.orig

# ignore default config.def.h
config.def.h

# unignore relevant files
!FAQ
!LEGACY
!LICENSE
!Makefile
!README
!TODO
